<%- include('partials/header') %>


<h1>Welcome to Twitter Light</h1>

<% if (typeof loggedInUser === 'undefined') { %>
  <a href="/users/new">Register new user</a>
  <a href="/login">Login here</a>
<% } else { %>
  <p><a href="/tweets/new">Start tweeting</a></p>
<% } %>


<p>There are <%= users.length %> users.</p>

<% users.forEach(user => { %>
  <p>
    <% if (typeof loggedInUser === 'undefined') { %>
      <p>
        <%= user.username %>
        Joined on: <%= new Date(user.createdAt).toLocaleString() %>
      </p>
    <% } else { %>
      <p>
        <a href="/users/<%= user.id %>"><%= user.username %></a>
        Joined on: <%= new Date(user.createdAt).toLocaleString("hu-HU") %>
      </p>
    <% } %>
  </p>
<% }) %>

<p>There are <%= tweets.length %> tweets</p>

<% tweets.forEach(tweet => { %>
  <p>
    <%= tweet.user.username %>:
    <%= tweet.text %>
    Posted on: <%= new Date (tweet.createdAt).toLocaleString("hu-HU") %>
  </p>

  <% if (typeof loggedInUser !== 'undefined' && loggedInUser.id === tweet.user.id) { %>
    <a href="/tweets/<%= tweet.id %>/edit">Edit</a>
    <form action="/tweets/<%= tweet.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  <% } %>
<% }) %>

<%- include('partials/footer') %>