<%- include('partials/header') %>

<div class="container">

  <div class="row">
    <h1 class="mb-4 display-3">Welcome to Twitter Light</h1>
  </div>

  <div class="row">
  
    <div class="col-3">
      <p><%= users.length %> people are tweeing</p>
  
      <% users.forEach(user => { %>
        <p>
          <% if (typeof loggedInUser === 'undefined') { %>
            <p class="mb-0">
              <%= user.username %>
            </p>
            <p class="text-muted small">
              Joined on: <%= new Date(user.createdAt).toLocaleString() %>
            </p>
          <% } else { %>
            <p class="mb-0">
              <a href="/users/<%= user.id %>">
                <img style="border:1px solid blue; border-radius:60%;" src="<%= user.profileData.img %>" alt="" width="50px">
                <%= user.username %>
              </a>
            </p>
            <p class="text-muted small">
              Joined on: <%= new Date(user.createdAt).toLocaleString("hu-HU") %>
            </p>
          <% } %>
        </p>
      <% }) %>
    </div>   

    <div class="col-6">
      <p><%= tweets.length %> tweets have been posted</p>
  
      <% tweets.forEach(tweet => { %>
        <p class="mb-1">
          <%= tweet.user.username %>
        </p> 
        <p class="mb-0">
          <%= tweet.text %>
        </p>
        <p class="text-muted small mb-1">
          <%= new Date(tweet.createdAt).toLocaleString("hu-HU") %>
        </p>
  
        <div class="mb-4">
          <% if (typeof loggedInUser !== 'undefined' && loggedInUser.id === tweet.user.id) { %>
            <a class="btn btn-warning btn-sm" href="/tweets/<%= tweet.id %>/edit">Edit</a>
            <form class="d-inline" action="/tweets/<%= tweet.id %>?_method=DELETE" method="POST">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
            </form>
          <% } %>
        </div>

      <% }) %>
    </div>

    <div class="col-3">
      <% if (typeof loggedInUser === 'undefined') { %>
        <p>
          Already have an account? <br>
          <a href="/login">Login here</a>
        </p>
        <p>
          New to here? <br>
          <a href="/users/new">Register now</a>
        </p>
        
      <% } else { %>
        <p class="display-6">Speak Your Mind</p>
        <p><a href="/tweets/new" class="btn btn-success btn-lg">Start tweeting</a></p>
      <% } %>
    </div>

  </div>

</div>

<%- include('partials/footer') %>