<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All tweets</title>
</head>
<body>
  <% if (tweets.length === 0) { %>
    <p>Nobody tweeted yet.</p>
  <% } else { %>
    <% tweets.forEach(tweet => { %>
      <p><%= tweet.user.username %> says: <%= tweet.text %></p>
      <a href="/tweets/<%= tweet.id %>">Show</a>
      <a href="/tweets/<%= tweet.id %>/edit">Edit</a>
      <a href="/tweets/<%= tweet.id %>/delete">Delete</a>
      
   <% }) %>
  <% } %>
</body>
</html>