<%- include('../partials/header') %>

<div class="container">

  <div class="row">
    <div class="col-8">
      <h2 class="display-4 mb-3">
        <%= user.profileData.bio ? "Edit your bio" : "Add a short bio to your profile" %>
      </h2>
      
      
      <form action="/users/<%= user.id %>/bio?_method=PATCH" method="POST">
        <textarea class="form-control" name="bio" rows="5" autofocus><%= user.profileData.bio %>
        </textarea>
        <button class="btn btn-primary mt-3">Save Bio</button>
      </form>
    </div>
  </div>

</div>



<%- include('../partials/footer') %>