<%- include('../partials/header') %>

  <h1>Editting <%= user.username %>'s details</h1>

  <h2>Have a new email address?</h2>
  <form action="/users/<%= user.id %>?_method=PATCH" method="POST">
    <input type="hidden" name="whatToChange" id="" value="email">
    <input type="text" name="email" value="" placeholder="Enter new email address">
    <button>Change Email</button>
  </form>

  <h2>Change Password</h2>
  <form action="/users/<%= user.id %>?_method=PATCH" method="POST">
    <input type="hidden" name="whatToChange" id="" value="password">
    <input type="password" name="password" value="" placeholder="Enter new password">
    <input type="password" name="password_confirmation" value="" placeholder="Enter new password again">
    <button>Save new password</button>
  </form>

  <%- include('../partials/footer') %>