<%- include('../partials/header') %>
  
<form action="/users" method="POST">

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value="<%= userData.username !== '' ? userData.username : '' %>">
  <div>
    <%= errorMessages.username %>
  </div>

  <label for="email">Email:</label>
  <input type="text" name="email" id="email" value="<%= userData.email !== '' ? userData.email : '' %>">
  <div>
    <%= errorMessages.email %>
  </div>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" value="">
  <div>
    <%= errorMessages.password %>
  </div>

  <label for="password_confirmation">Re-type password:</label>
  <input type="password" name="password_confirmation" id="password_confirmation" value="">
  <div>
    <%= errorMessages.password %>
  </div>

  <button>Register</button>
</form>

<%- include('../partials/footer') %>