<h1><%= user.username %>'s Profile</h1>

<% if (typeof user.profile_img !== 'undefined') { %>
  <img src="/<%= user.profile_img %>" alt="<%= user.username %>'s profile image" width="250">
  <p><%= user.username %></p>
<% } %>


<% if (typeof user.bio === 'undefined') { %>
  <p>No bio for this user.</p>
<% } else { %>
  <p><%= user.bio %></p>
<% } %>

<h3><%= user.username %>'s tweets</h3>
<% tweets.forEach(tweet => { %>
  <p><%= tweet.text %></p>
<% }) %>



<% if (correctUser) { %>
  <h2>Manage your profile</h2>
  <form action="/users/<%= user.id %>/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="profile_img" id="profile_img">
    <input type="submit" value="Upload">
  </form>
  <a href="/users/<%= user.id %>/bio/new">Add a short bio</a>
  <a href="/users/<%= user.id %>/edit">Edit details</a><br>
  <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
    <button>Delete profile</button>
  </form>
<% } %>
