<%- include('../partials/header') %>

<h1><%= user.username %>'s Profile</h1>
<% if (user.profileData.img !== null) { %>
  <img src="/<%= user.profileData.img %>" alt="<%= user.username %>'s profile image" width="250">
<% } %>

<p>
  <%= user.profileData.bio ? user.profileData.bio : 'No bio yet' %>
</p>
  
  <% if (correctUser) { %>
    <% if (!user.profileData.bio) { %>
      <a href="/users/<%= user.id %>/bio/new">Add a short bio</a>
    <% } else { %>
      <a href="/users/<%= user.id %>/bio/new">Edit bio</a>
   <% } %>

    <form action="/users/<%= user.id %>/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="profile_img" id="profile_img">
      <input type="submit" value="Upload">
    </form>
    <!-- <a href="/users/<%= user.id %>/edit">Edit details</a><br> -->
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <button>Delete profile</button>
    </form>
 <% } %> 




<h3><%= user.username %>'s tweets</h3>
<% tweets.forEach(tweet => { %>
  <p><%= tweet.text %></p>
<% }) %>

<%- include('../partials/footer') %>